{% extends 'twitter/layout.html' %}

{% block title %}{{ profile.username }}{% endblock %}

{% block body %}
    {% if profile.id != user.id %}
        {% if user.is_authenticated and profile in user.followings.all %}
            <form method=POST, action="{% url 'unfollow' profile.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Unfollow</button>
            </form>
        {% else %}
            <form method=POST, action="{% url 'follow' profile.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success">Follow</button>
            </form>
        {% endif %}
    {% endif %}
    <h1>{{ profile.username }}</h1>
    <div>
        <span>{{ profile.followings.count }} Following</span>
        <span>{{ profile.followers.count }} Followers</span>
    </div>
    {% for post in posts %}
        <div class="card">
            <div class="card-header">{{ post.author.username }} at {{ post.created_at }}</div>
            <div class="card-body">
                <p class="card-text">{{ post.body }}</p>
            </div>
            {% if post.author == user %}
                <form action="{% url 'delete_post' post.id %}" method=DELETE>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            {% endif %}
        </div>
    {% empty %}
        <span>No posts.</span>
    {% endfor%}
{% endblock %}