{% extends 'twitter/layout.html' %}

{% block title %}{{ profile.username }}{% endblock %}

{% block body %}
    {% if profile.id != user.id %}
        <form method=POST, action="{% url 'follow' profile.id %}">
            {% csrf_token %}
            {% if user.is_authenticated and profile in user.followings.all %}
                <button type="submit" class="btn btn-outline-danger">Unfollow</button>
            {% else %}
                <button type="submit" class="btn btn-outline-success">Follow</button>
            {% endif %}
        </form>
    {% endif %}
    <h1>{{ profile.username }}</h1>
    <div>
        <span>{{ profile.followings.count }} Following</span>
        <span>{{ profile.followers.count }} Followers</span>
    </div>
    {% include 'twitter/posts.html' %}
{% endblock %}