{% load static %}
{% for post in posts %}

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span id="userinfo">
                <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a> at {{ post.created_at }}
            </span>
            {% if post.author == user %}
                <form action="{% url 'delete_post' post.id %}" method=POST>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light">
                        <img src="{% static 'twitter/assets/delete.svg' %}" width="25px" height="25px">
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="d-flex">
            <form action="{% url 'like' post.id %}" method=POST>
                {% csrf_token %}
                <button type="submit" class="btn" id="Like">

                    {% if user in post.likes.all %}
                        <img src="{% static 'twitter/assets/like.svg' %}" width="25px" height="25px">
                    {% else %}
                        <img src="{% static 'twitter/assets/unlike.svg' %}" width="25px" height="25px">
                    {% endif %}
                </button>
            </form>
            <span class="likes-count">{{ post.likes.count }} Likes</span>
        </div>
    </div>
{% empty %}
    <span>No posts.</span>
{% endfor%}