body,
html {
    height: 100%;
    margin: 0;
}

.like {
    margin-bottom: 10px;
    margin-left: 10px;
}

.card {
    margin-bottom: 15px;
}

.likes-count {
    padding-left: 15px;
    padding-top: 8px;
}

.userinfo {
    padding-top: 7px;
}

#gradient {
    display: flex;
    justify-content: center;
    align-items: center;
}